@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  box-sizing: border-box;
  background: rgb(247, 247, 247);
  color: rgb(17, 17, 17);
}

a{
  color: rgb(17, 17, 17);
  text-decoration: none;
}

section{
  padding: 80px 0;
}

.btn{
  font-size: 20px;
  font-weight: 600;
  background: rgb(17, 17, 17);
  color: #fff;
  border-radius: 12px;
  padding: 10px 48px;
}

.btn-link{
  font-size: 18px;
  font-weight: 700;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container,
.nav-section{
  max-width: 80%;
  margin: 0 auto;
}

.nav-section{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.nav-logo{
  gap: 12px;
}

.nav-logo img{
  width: 62px;
  height: 62px;
}

.nav-logo span{
  text-transform: uppercase;
  font-size: 32px;
}

.nav-links{
  list-style: none;
  gap: 32px;
}

.nav-links a{
  font-size: 20px;
  font-weight: 500;
}

#home{
  font-weight: 700;
  color: rgb(254, 163, 1);
}

#about {
  color: rgb(1, 172, 253);
}

#facilities {
  color: rgb(5, 212, 223);
}

#admission {
  color: rgb(93, 88, 239);
}

#contact{
  background: rgb(254, 163, 1);
}

.section-hero{
  display: flex;
  gap: 50px;
}

.hero-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.heading-primary{
  font-size: 64px;
  /* padding-right: 280px; */
}

.paragraph {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

.paragraph-2 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: rgb(125, 125, 125);
}

.color-1{
  display: block;
  color: rgb(254, 163, 1);
}

.color-3{
  color: rgb(1, 172, 253);
}

.hero-img img{
  width: 600px;
  margin-left: 280px;
}

section{
  display: flex;
  flex-direction: column;
  gap: 80px;
}


.section-title{
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.card-container{
  display: flex;
  gap: 80px;
  justify-content: center;
  text-align: center;
}

.card{
  /* border: 1px solid #000; */
  width: 360px;
  padding: 80px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-radius: 18px;
  box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
}

.card-1{
  border: 1px solid rgb(222, 245, 255);
  background: linear-gradient(to bottom, rgb(222, 245, 255),transparent 40%),#fff;
}

.card-1 a{
  color: rgb(100, 200, 255);
}

.card-2{
  border: 1px solid rgb(255, 244, 220);
  background: linear-gradient(to bottom, rgb(255, 244, 220),transparent 40%),#fff;
}

.card-2 a{
  color: rgb(240, 170, 0);
}

.card-3{
  border: 1px solid rgb(242, 232, 255);
  background: linear-gradient(to bottom, rgb(242, 232, 255),transparent 40%),#fff;
}

.card-3 a{
  color: rgb(135, 0, 255);
}

.heading-tertiary{
  font-size: 28px;
  font-weight: 700;
  color: rgb(32, 32, 32);
}

.btn-container{
  text-align: center;
}

.btn-container button{
  font-size: 40px;
  font-weight: 700;
  /* display: inline-block; */
  margin: 8px;
  border: none;
  background: rgb(254, 163, 1);
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.grid-blog{
  display: grid;
  grid-template-columns: 550px 325px 325px;
  grid-template-rows: repeat(2, 325px);
  gap: 24px;
  justify-content: center;
}

.article-box{
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
}

.article-content{
  position: relative;
  padding: 40px;
}

.article-box img{
  width: 100%;
}

.article-box h3{
  font-size: 18px;
  font-weight: 900;
}

.article-expand{
  grid-row-start: 1;
  grid-row-end: 3;
}

.article-expand h3{
  font-size: 24px;
}

.article-expand .paragraph-2{
  margin-top: 50px;
  color: rgb(106, 106, 106);
}

.article-expand .article-content{
  position: relative;
  padding: 60px 70px 35px 40px;
}

.blog-date{
  position: absolute;
  padding: 14px 28px;
  border-radius: 100px;
  /* background: orange; */
  color: white;
  top: -30px;
  left: 40px;
}

.date-1{
  background: rgb(60, 216, 232);
}

.date-5,
.date-4,
.date-2{
  background: rgb(149, 178, 38);
}

.date-3{
  background: rgb(93, 88, 240);
}